<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cita</title>
</head>
<body>
    <h1>Editar Cita</h1>

    <form th:action="@{/citas/editar}" th:object="${cita}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label>Nombre del Paciente:</label>
        <input type="text" th:field="*{nombrePaciente}" required/><br/>

        <label>Horario (ISO):</label>
        <input type="datetime-local" name="horario" th:value="${horarioFormateado}" required /><br/>

        <label>Doctor:</label>
        <select th:field="*{doctor.id}">
            <option th:each="doc : ${doctores}" th:value="${doc.id}"
                    th:text="${doc.nombre} + ' ' + ${doc.apellidoPaterno}"
                    th:selected="${doc.id} == ${cita.doctor.id}"></option>
        </select><br/>

        <label>Consultorio:</label>
        <select th:field="*{consultorio.id}">
            <option th:each="cons : ${consultorios}" th:value="${cons.id}"
                    th:text="'Piso ' + ${cons.piso} + ' - No. ' + ${cons.numero}"
                    th:selected="${cons.id} == ${cita.consultorio.id}"></option>
        </select><br/>

        <button type="submit">Actualizar</button>
        <a th:href="@{/citas/consultar}">Cancelar</a>
    </form>
</body>
</html>
